# OS/editor
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
web/node_modules/
web/.cache/

# PHP
vendor/
.phpunit.result.cache
